/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2? family=Lato&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;

}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* estilos generales*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    color: #0f0f0f;
    font-size: 18px;
    line-height: 1.2;
}
h1{
    font-size: 32px;
    text-align: center;
}
h2{
    font-size: 28px;
    text-align: center;
}
h3 {
    font-size: 24px;
}
p{
    margin: 20px 0px;
    text-align: center;
}
img {
    max-width: 80%;
    border-radius: 700px;
}

/*header*/

header {
    display: flex;
    width: 100%;
    background-color: #fbfbfb;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 16px;
    box-shadow: 0 3px 10px -5px #5f5f5f;

    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    width: 80px;
}
.menu-list {
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.menu-list li a {
    padding: 20px;
    text-decoration: none;
    color:#0f0f0f;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/*section*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 100px;
    }
#inicio {
        justify-content: space-around;
    }
    
.presentacion-img {
        margin-bottom: 20px;
        text-align: center;
    }
.presentacion-img img {
        width: 200px;
    }
.btn-cv {
        background-color: #0ff2fa;
        padding: 12px 20px;
        border-radius: 50px;
        font-size: 20px;
        display: inline-block;
        text-align: center;
 }
 .btn-cv:hover, .active {
    background-color: rgb(41, 137, 137);
    transition: 0.3s;
 }

 .active {
    background-color: #FFFF00;
 }

 /*iconos de redes*/
:root {
    --envelope: #e10600;
    --github: #171515;
    --linkedin: #0077b5;
    --instagram: #ff006e;

}

.redes-container{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 55px;
    height: 55px;
    text-align: center;
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    border-radius: 30px;
    line-height: 50px;
    font-size: 25px;
    box-shadow: 0 3px 5px 0px rgb(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a{
    filter: blur(2px);
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.30);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .email:hover{
    background: #3b5999;
}
.redes-container ul li .github:hover{
    background: #171515;
}
.redes-container ul li .linkedin:hover{
    background: #0077b5;
}
.redes-container ul li .instagram:hover{
    background: #ff006e;
}

.parte-2 {
    background-color: #00FFFF;
    border-radius: 10px;
    padding: 10px;
}


footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 90px;
        background-color: #FF00FF;
        color: #fffeff;
}




@media (min-width: 1024px) {

    h1 {
        font-size: 48px;
        text-align: left;
    }

    #inicio {
        flex-direction: row;
    }
    .presentacion-img img {
        width: 5000px;
    }
    .presentacion-img {
        text-align: left;
      
    }
    .presentacion-img p {
        text-align: left;
        padding-right: 20px;
    }

    /*menu hamburguesa*/
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: #00FFFF;
    }
    .cerrar-menu{
        color: #ff6b6b;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 100;
        background-color: #1c1c1c;
        padding: 4rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .menu-list {
        flex-direction: column;
        align-items: end;
    }
    .menu-list li a {
        color: #ecececec;
    }

}